.introduction {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url("../../images/downList.png"), url("../../images/twoLists.png");
    background-position: top right, bottom;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
}

.introductionBlock {
    padding: 0;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.introductionBlock h1 {

}

