.personBlock {
    margin: 0 auto;
    width: 100%;
    background-image: url("../../images/longListDown.png"), url("../../images/twoUpList.png");
    background-position: top right, bottom left;
    background-size: auto;
    background-repeat: no-repeat;
}

.person {
    width: 80%;
    margin: 50px auto;
}

.person h2 {
    margin: 20px auto;
    font-size: 2.3rem;
}

.person p {
    font-size: 1rem;
    line-height: 2;
}

.personWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.personInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.personInfo img {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: 3px solid var(--soft-white);
}

.personDesc h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.personDesc p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--active-dark);
}

.textDesc, .textDesc > p {
    flex: 2;
    text-align: justify;
    line-height: 3;
}

.aboutFormBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.contactFormBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.contactFormBlock h2 {
    font-size: 1.5rem;
}

.contactFormBlock p {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.3;
}

.contactAddress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactAddress a {
    font-size: 1rem;
    color: var(--main);
    transition: color 0.3s ease;
}

.contactAddress svg {
    font-size: 1.2rem;
    vertical-align: middle;
    margin-right: 10px;
    color: var(--active-dark);
}

.contactAddress a:hover {
    color: var(--active);
}


.contactLink {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.contactLink a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--active-dark);
    transition: color 0.3s ease;
}

.contactLink svg {
    margin-right: 10px;
    font-size: 1.2rem;
    vertical-align: middle;
    color: var(--active-dark);
    transition: color 0.3s ease;
}

.contactLink a:hover, .contactLink a:hover svg {
    color: var(--active);
}


/* Медиа-запросы для разных устройств */

@media screen and (max-width: 1200px) {

    .person {
        width: 90%;
    }

    .contactFormBlock {
        margin: 0 20px;
    }

    .personInfo img {
        width: 100%;
    }

    .contactLink {
        gap: 20px;
    }

}

@media screen and (max-width: 768px) {

    .person {
        width: 90%;
    }

    .person h2 {
        font-size: 1.8rem;
    }

    .personInfo img {
        width: 100%;
    }

    .personDesc h3, .personDesc p {
        font-size: 1.1rem;
        font-weight: 400;
    }

    .person p {
        font-size: 1rem;
        text-align: justify;
        text-indent: 1rem;
        line-height: 1.5;
    }

    .aboutFormBlock {
        flex-direction: column;
    }

    .contactFormBlock {
        gap: 15px
    }

    .contactLink {
        margin: 20px 0;
    }


}

@media screen and (max-width: 576px) {

    .personBlock {
        background-position: top, bottom;
        background-size: contain;
    }

    .person {
        width: 85%;
    }

    .person h2 {
        margin: 15px 0;
        font-size: 1.3rem;
        font-weight: 300;
    }

    .person p {
        line-height: 1.5;
        letter-spacing: 0;
        text-align: justify;
        text-indent: 1rem;
    }

    .personWrapper {
        flex-direction: column;
    }

    .personDesc h3 {
        font-size: 1rem;
        font-weight: 400;
    }

    .contactFormBlock {
        width: 100%;
        gap: 10px;
    }

    .contactLink {
        margin: 15px;
        gap: 20px;
    }

    .contactLink a {
        font-size: 1rem;

    }


}

