.notFoundWrapper {
    margin: 0 auto;
    background-image: url("../../images/notFound.jpg");
    background-size: cover;
    height: 100vh;
}

.notFoundWrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.notFoundBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 300px;
}

.notFoundBlock h1 {
    font-size: 90px;
    z-index: 3;
    color: var(--soft-white);
    font-weight: 200;
}

.notFoundBlock p {
    font-size: 50px;
    z-index: 3;
    color: var(--soft-white);
    font-weight: 200;
}

