.privacyBlock {
    background-image: url("../../images/twoDown.png"), url("../../images/twoLists.png");
    background-position: left top, bottom;
    background-size: auto;
    background-repeat: no-repeat;
}

.privacyContent {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 170px 0;
}

.privacyContent h2 {
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
    text-align: left;
}

.privacyContent ul {
    text-align: justify;
    text-indent: 2.5em;
    font-weight: 300;

}

.privacyContent ul li {
    padding: 7px 0;
    line-height: 1.5;
}