.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    z-index: 100000;
    background-color: transparent;
}

.navbar a {
    color: var(--white);
    letter-spacing: 0.2rem;
    transition: 0.3s ease;
    font-weight: 200;
}

.navbar a:active,
.navbar a:hover {
    color: var(--active);
}

.navbar a svg {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 1.2em;
}


.logosBlock {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logosBlock svg {
    font-size: 2.3rem;
    color: var(--white);
}

.logo {
    width: 100px;
    height: 100px;
}


.logoScroll {
    width: 110px;
    height: 110px;
}


.headerBlock {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
    text-transform: uppercase;
}

.scrolled {
    background-color: var(--white);
    color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 100000;
    padding: 0;
}

.scrolled a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    transition: 0.3s ease;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.scrolled img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.scrolled a:active,
.scrolled a:hover {
    color: var(--active);
}

.scrolled a svg {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 1.2em;
}

.scrolled .hoverWrapper {
    top: 105%;
}

.scrolled .headerBlock {
    margin: 10px auto;

}

.hoverWrapper {
    padding: 30px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    min-height: 180px;
    border-radius: 10px;
}


/*  start hamburgerMenu  */

.mobileMenu {
    display: none;
}

.hamburgerMenu {
    padding: 30px 20px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000000;
}

.hamburgerMenu svg {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--white);
}

.hamburgerMenu img {
    width: 5rem;
    height: 5rem;
}

.hamburgerMenuList {
    padding: 20px 0;
    width: 80vw;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--bg-color);
    z-index: 13000000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.hamburgerMenuList.open {
    transform: translateX(0%);
}

.menuBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.menuBlock h1 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.menuBlock svg {
    margin: 0;
    font-size: 1.5rem;
}

.hamburgerMenuList hr {
    width: 100%;
    color: lightgray;
    height: 1px;
    border: none;
    background-color: lightgray;
    margin: 10px 0;
}

.hamburgerMenuList a {
    margin: 7px 30px;
    font-weight: 400;
    color: var(--main);
    font-size: 1rem;
}

.centeredContainer {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*  end hamburgerMenu  */


@media screen and (max-width: 480px) {
    /* Стили для маленьких мобильных устройств */
    .scrolled, .navbar {
        display: none;
    }

    .mobileMenu {
        display: block;
        max-width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Ваши стили для средних мобильных устройств */
    .scrolled, .navbar {
        display: none;
    }

    .mobileMenu {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }

    .mobileMenu svg {
        font-size: 2.5rem;
    }

    .mobileMenu img {
        width: 6rem;
        height: 6rem;
    }

    .hamburgerMenu {
        padding: 30px;
    }

    .hamburgerMenuList a {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    /*Ваши стили для больших мобильных устройств и планшетов*/
    .navbar {
        display: none;
    }

    .mobileMenu {
        display: block;
    }

    .menuBlock h1 {
        font-size: 2rem;
    }

    .hamburgerMenuList a {
        font-size: 1.3rem;
        margin: 12px 30px;
    }
}