.button {
    margin: 40px auto;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: 1px solid var(--white);
    padding: 15px 20px;
    color: var(--white);
    letter-spacing: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--active);
    transition: width 0.8s;
    z-index: -1;
}

.button:hover::before {
    width: 100%;
}

.scrolled {
    background-color: transparent;
    color: var(--black);
    border: 1px solid lightgray;
}

