.preloaderBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {
    .preloaderBlock img {
        width: 10rem;
        height: 10rem;
    }

}

@media screen and (max-width: 576px) {

    .preloaderBlock img {
        width: 7rem;
        height: 7rem;
    }

}