.footer {
    background-color: var(--footer);
    padding: 50px 0;
}

.footerWrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logoBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoBlock a {
    color: var(--soft-white);
    font-size: 25px;
    padding: 0 4px;
    letter-spacing: 0.2rem;
}

.logo {
    width: 100px;
    height: 100px;
}

.contactBlock {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--footer-links);
}

.contactBlock a {
    color: var(--footer-links);
    font-size: 16px;
    transition: color 0.4s ease;
}

.contactBlock a:hover {
    color: var(--soft-white);
}

.socialNetworkLinks {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.socialNetworkLinks svg {
    color: var(--footer-links);
    font-size: 28px;
    transition: color 0.4s ease;
}

.socialNetworkLinks svg:hover {
    color: var(--soft-white);
}

.massagesTypeList {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.footerTitle {
    font-size: 25px;
    color: var(--soft-white);
}

.massagesTypeList a {
    color: var(--footer-links);
    transition: color 0.4s ease;
    font-size: 16px;
}

.massagesTypeList a:hover {
    color: var(--white);
}

.copyRight, .copyRight a {
    padding: 40px 0 0 0;
    color: var(--footer-links);
    transition: color 0.4s ease;
    font-weight: 100;
}

.copyRight a:hover {
    color: var(--soft-white);
    font-weight: 100;
}