.titleAfterBook {
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    border: 2px solid var(--soft-white);
    border-radius: 20px;
    text-align: center;
}

.titleAfterBook .mainInfo {
    display: inline-block;
    color: var(--main);
    font-weight: 600;
}

.formWrapper {
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper form {
    width: 30%;
    background-color: var(--soft-white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.formWrapper label {
    display: block;
    font-size: 0.9rem;
    margin: 5px 0;
    font-weight: 400;
}

.formWrapper input[type="text"],
.formWrapper input[type="phone"],
.formWrapper textarea,
.formWrapper select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.formWrapper input[type="text"]::placeholder,
.formWrapper input[type="phone"]::placeholder,
.formWrapper textarea::placeholder,
.formWrapper select::placeholder {
    color: lightgray;
}

.formWrapper textarea {
    resize: none;
    height: 100px;
}

.formWrapper span {
    color: red;
    font-size: 0.9rem;
    font-weight: 300;
}

.btn {
    width: 100%;
    height: fit-content;
    background-color: var(--active-dark);
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--active);
}

.btn:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.formWrapper h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: 200;
}

.formWrapper p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}

.datePicker {
    width: 100%;
}

.formWrapper select {
    -webkit-appearance: none;
}


/* Медиа-запросы для разных устройств */

@media screen and (max-width: 1200px) {
    .titleAfterBook {
        width: 80%;
        border: 1px solid var(--soft-white);
    }

    .formWrapper form {
        width: 60%;
        padding: 30px;
        margin: 0 auto;
        border-radius: 15px;
    }

}

@media screen and (max-width: 768px) {
    .formWrapper form {
        width: 80%;
        padding: 20px;
        margin: 0 auto;
        border-radius: 10px;
    }
}

@media screen and (max-width: 576px) {
    .formWrapper form {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
        border-radius: 5px;
    }


}